#door {
    top: 100px;
    left: 15px;
}

#lock {
    top: 300px;
    left: 67px;
    width: 170px;
}

#osumi {
    top: 200px;
    left: 200px;
    width: 400px;
}

div {
    border: solid 2px red;
    width: 50rem;
    position: relative;
    padding: 1rem;
    height: 80vh;
    overflow: hidden;
}

div > img {
    position: absolute;
}