@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


#game {
    display: none;
    position: relative;
}

/* if the viewport is larger than 768x500, show the game */
 @media (width>768px) and (height>500px) {
    #game {
        display: grid;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    #title > div{
        transform: scale(0.8)
    }
}

/* scale the game for larger viewports */
 @media (width>960px) and (height>678px) {
    #game, .scrollable {
        transform: scale(1.5)
    }

    #title > div{
        transform: scale(1)
    }
}

@media (width>1280px) and (height>904px) {
    #game, .scrollable {
        transform: scale(2)
    }

    #title > div{
        transform: scale(1.3)
    }
}

/* hide the small screen and touch device warnings (on by default) for larger viewports and non touch devices */
@media (width>768px) and (height>500px) {
    #small {
        display: none;
    }
}

@media (pointer:fine) {
    #touch {
        display: none;
    }
}

/* styles for small screen warning and touch device warning */
#small,#touch {
    background-image: url('images/gameAssets/backgroundImage.svg');
    z-index: 9999;
    padding: 24px;
    font-size: 24px;
    position: absolute;
    align-content: center;
    text-align: center;
    inset: 0;
}

/* background and global style  */
body {
    background-image: url('images/gameAssets/backgroundImage.svg');
    color: #fff;
    font-optical-sizing: auto;
    -webkit-font-smoothing: none;
    overscroll-behavior: none;
    min-height: 100vh;
    place-items: center;
    font-family: 'Castoro',serif;
    font-style: normal;
    font-weight: 400;
    display: grid;
}

a {
    text-decoration: none;
    position: relative;
}

/* styles for the game room */
#room {
    z-index: 1;
    width: 640px;
    height: 400px;
    position: relative;
    overflow: hidden;
    background-color: black;
    border-radius: 5px;
}

/* global default style to normalise stuff and box sizing */
*,:after, :before {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
}

/* global positioning for all room img elements */
#room img {
    position: absolute;
}

/* hide all checkbox and radio input decoration, opacity 0 so it's still interactable but now fully cusotmisable */
* input[type=checkbox],* input[type=radio]{
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: -1000px;
}

/* hide all buttons */
button {
    background-color: transparent;
    border: none;
}

/* =============== NAVIGATION =============== */
.room {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.room.active {
    opacity: 1;
    pointer-events: auto;
}

#fade {
    background-color: black;
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999;
}

#fade.out {
    opacity: 1;
}

#navBack {
    display: none;
}

#navLeft {
    position:absolute;
    top: 45%;
    left: 15px;
    z-index: 2;
    transition: 0.3s ease-in-out;
}

#navRight {
    position:absolute;
    top: 45%;
    right: 15px;
    z-index: 2;
    transition: 0.3s ease-in-out;
}

#navBack {
    position: absolute;
    top: 330px;
    left: 300px;
    z-index: 2;
    transition: 0.3s ease-in-out;
}

#navLeft:hover, #navRight:hover, #navBack:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 2px #ffb546);
    transition: filter 0.3s ease-in-out;
}

#navLeft:hover {
    left: 10px;
    transition: left 0.3s ease;
}

#navRight:hover {
    right: 10px;
    transition: right 0.3s ease;
}

#navBack:hover {
    top: 335px;
    transition: top 0.3s ease;
}

/* =============== NORTH ROOM ELEMENTS =============== */
#room {
    background-image: url('images/gameAssets/vn/shopbg.png');
    background-size: fill;
    background-position: center;
}

#osumi {
    top: 0;
    left: 200px;
    width: 250px;
}

#northCounter {
    top: 85px;
    transition: filter 0.3s ease-in-out;
}

#counterShadow {
    position: absolute;
    top: 354px;
    left: 44px;
    width: 562px;
    height: 50px;
    background-color: black;
    border-radius: 100%;
    filter: blur(20px);
}

#northCounter:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 3px #ffc392);
    transition: filter 0.3s ease-in-out;
}

/* =============== WEST ROOM ELEMENTS =============== */
#westCrate {
    top: 145px;
    left: 429px;
}

/* =============== EAST ROOM ELEMENTS =============== */

/* =============== SOUTH ROOM ELEMENTS =============== */
#southDoor {
    position: absolute;
    width: 128px;
    height: 247px;
    top: 48px;
    left: 437px;
    background-color: transparent;
    border: none;
    transition: box-shadow 0.3s ease-in-out;

}

#southDoor:hover {
    cursor: pointer;
    box-shadow: 0 0 13px #000000;
    transition: box-shadow 0.3s ease-in-out;
}

/* =============== TITLE SCREEN =============== */

/* bg image + centering */
#title {
    background-image: url('images/coverimage.png');
    background-size: cover;
    background-position: center;
    z-index: 9998;
    display: grid;
    position: fixed;
    inset: 0;
    place-items: center;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}


#titleimg{
        width: 700px;
}

/* center the title */
#title > div {
    display: grid;
    justify-items: center;
}

#title [for="startgame"] {
    position: relative;
    display: inline-block;
    /* spacing between button and title */
    margin-top: 32px;
    font-size: 50px;
    animation: glow 1s ease-in-out infinite alternate;
}

/* glowing animation */
@keyframes glow {
    from {
        text-shadow: 0 0 0px #ffffff69,0 0 5px #ffffff69,0 0 10px #ffffff96,0 0 20px #ffffff96,0 0 30px #ffffff96,0 0 40px #ffffff96,0 0 50px #ffffff96;
    }
    to {
        text-shadow: 0 0 5px #ffffff69,0 0 10px #ffffff69,0 0 20px #ffffff69,0 0 30px #ffffff69,0 0 40px #ffffff69,0 0 50px #ffffff69,0 0 60px #ffffff69;
    }
}

/* change cursor on hover to indicate it's clickable */
#title label:hover, #archives label:hover, #collection label:hover {
    cursor: pointer;
}

/* if start game is checked, hide title screen */
body:has(#startgame:checked) #title {
    /* opacity 0 for smooth transition and pointer events none to make it unclickable */
    opacity: 0;
    pointer-events: none;
}

/* if startgame is checked, show game */
body:has(#startgame:checked) #game {
    /* opacity 1 to show it and pointer events auto to make it clickable */
    opacity: 1;
    pointer-events: auto;
}

/* Archives & Collections buttons */
#title [for="collectionbtn"], #title [for="archivesbtn"] {
    position: relative;
    display: inline-block;
    /* spacing between buttons */
    padding: 5px;
}

#lesserbuttons {
    margin: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lesserbutton {
    height: 35px;
}

/* if archives or collection is checked, do not display game */
body:has(#archivesbtn:checked) #game, body:has(#collectionbtn:checked) #game {
    display: none;
}

/* if archives & collections is not checked, show game */
body:not(:has(#archivesbtn:checked)) #game && body:not(:has(#collectionbtn:checked)) #game {
    display: grid;
}

/* if archives is checked, show archives */
body:has(#archivesbtn:checked) #archives {
    /* opacity 1 to show it and pointer events auto to make it clickable */
    opacity: 1;
    pointer-events: auto;
}

/* if collection is checked, show collection */
body:has(#collectionbtn:checked) #collection {
    opacity: 1;
    pointer-events: auto;
}

/* when back is checked, hide archives & collection */
body:has(#back:checked) #archives, body:has(#back:checked) #collection {
  opacity: 0;
  pointer-events: none;
}

body:has(#archivesbtn:checked) #title, body:has(#collectionbtn:checked) #title {
    opacity: 1;
}

/* =============== ARCHIVES SCREEN =============== */
#divider {
    transform: scale(1.75);
}

.archiveText {
    font-size: 12px;

}

.archiveHeader {
    font-size: 32px;
    margin: 20px 0 0 0;
    text-align: center;
}

#archives {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: #42210583;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(12px);
    /* hidden by default */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
}

/* styles for the scrollable box */
.scrollable {
    text-align: center;
    background-color: #000000c2;
    margin: 30px 50px 30px 50px;
    border-radius: 20px;
    width: 640px;
    height: 400px;
    position: relative;
    border: 2px solid #9BD5ED;
    /* enable scrolling */
    overflow-y: hidden;
    overflow-x: hidden;

    scrollbar-width: thin;
}

/* 2 divs to hide the scrollbars */
.scrollWrap {
    position: absolute;
    padding: 30px 50px 20px 50px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: -15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* text align left, but keep the entire thing centered */
.textblock {
    display: inline-block;
    text-align: left;
}

#archives img {
    width: 200px;
}

.charName {
    font-size: 25px;
    font-style: normal;
    margin: 10px 0 9px 0;
    color: #ffd890;
}

.charBio {
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Philosopher", sans-serif;
    font-style: italic;
    color: #ecdcbed0;
    padding-bottom: 40px;
}

/* =============== COLLECTION =============== */

#collection {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-image: url('images/collectionbg.svg');
    background-size: cover;
    /* hidden by default */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
}


/* =============== VISUAL NOVEL VIEW =============== */
#vnView {
    /* hidden by default */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
}

#vnCounter {
    top: 130px;
}

#osumiVn {
    left: 146px;
    width: 358px;
}

/* text bubble positioning */
#dialogueWrap {
    position: absolute;
    top: 19%;
    left: 20px;
}

/* text bubble style */
#dialogueBubble {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #d4a34f;
    width: 230px;
    background: rgba(120, 70, 30, 0.35);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    text-align: center;
    color: #ffd277;
    font-family: "Philosopher", serif;
    font-size: 15px;
    line-height: 1.4;
    height: auto;
}

/* arrow for bottom */
.dialogueArrow {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #d4a34f;
}