@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


#game {
    display: none;
    position: relative;
}

/* if the viewport is larger than 768x500, show the game */
 @media (width>768px) and (height>500px) {
    #game {
        display: grid;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    #title > div, #collectionContent{
        transform: scale(0.8)
    }   
}

/* scale the game for larger viewports */
 @media (width>960px) and (height>678px) {
    #game, .scrollable {
        transform: scale(1.5)
    }

    #title > div, #collectionContent{
        transform: scale(1)
    }
}

@media (width>1280px) and (height>904px) {
    #game, .scrollable {
        transform: scale(2)
    }

    #title > div, #collectionContent{
        transform: scale(1.3)
    }
}

/* hide the small screen and touch device warnings (on by default) for larger viewports and non touch devices */
@media (width>768px) and (height>500px) {
    #small {
        display: none;
    }
}

@media (pointer:fine) {
    #touch {
        display: none;
    }
}

/* styles for small screen warning and touch device warning */
#small,#touch {
    background-image: url('images/gameAssets/backgroundImage.svg');
    z-index: 9999;
    padding: 24px;
    font-size: 24px;
    position: absolute;
    align-content: center;
    text-align: center;
    inset: 0;
}

/* background and global style  */
body {
    background-image: url('images/gameAssets/backgroundImage.svg');
    color: #fff;
    font-optical-sizing: auto;
    -webkit-font-smoothing: none;
    overscroll-behavior: none;
    min-height: 100vh;
    place-items: center;
    font-family: 'Castoro',serif;
    font-style: normal;
    font-weight: 400;
    display: grid;
}

a {
    text-decoration: none;
    position: relative;
}

/* styles for the game room */
#room {
    z-index: 1;
    width: 640px;
    height: 400px;
    position: relative;
    overflow: hidden;
    background-color: black;
    border-radius: 5px;
}

/* global default style to normalise stuff and box sizing */
*,:after, :before {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
}

/* global positioning for all room img elements */
#room img {
    position: absolute;
}

/* hide all checkbox and radio input decoration, opacity 0 so it's still interactable but now fully cusotmisable */
* input[type=checkbox],* input[type=radio]{
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: -1000px;
}

/* hide all buttons */
button {
    background-color: transparent;
    border: none;
}

/* Lottie cursor layer */
#lottieCursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
  pointer-events: none;   /* VERY IMPORTANT */
  z-index: 100000;
}

#lottieCursor dotlottie-wc {
  width: 100%;
  height: 100%;
}

/* Pulse animation */
.pulse {
  animation: pulseClick 0.3s ease-out;
}

@keyframes pulseClick {
  0%   { transform: translate(-50%, -50%) scale(1); }
  50%  { transform: translate(-50%, -50%) scale(1.25); }
  100% { transform: translate(-50%, -50%) scale(1); }
}

#navBack, [popovertargetaction="hide"] {
    position: absolute;
    top: 330px;
    left: 300px;
    z-index: 2;
    transition: 0.3s ease-in-out;
}

#navLeft:hover, #navRight:hover, #navBack:hover, [popovertargetaction="hide"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 2px #ffb546);
    transition: filter 0.3s ease-in-out;
}

#navBack:hover, [popovertargetaction="hide"]:hover {
    top: 335px;
    transition: top 0.3s ease;
}

.backStyle {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
}

[popover] {
    border: 0;
    margin: auto;
    top: -400px;
    right: 640px;
    overflow: visible;
}

/* make sure popover scales */
 @media (width>960px) and (height>678px) {
        [popover] {
            transform: scale(1.5);
            top: -600px;
            right: 960px;
        }
    }

    @media (width>1280px) and (height>904px) {
        [popover] {
            transform: scale(2);
            top: -800px;
            right: 1280px;;
        }
    }
/* =============== NAVIGATION =============== */
.room {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.room.active {
    opacity: 1;
    pointer-events: auto;
}

#fade {
    background-color: rgb(0, 0, 0);
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999;
    display: grid;
    place-items: center;
}

#fade.out {
    opacity: 1;
}

#navBack {
    display: none;
}

#navLeft {
    position:absolute;
    top: 45%;
    left: 15px;
    z-index: 2;
    transition: 0.3s ease-in-out;
}

#navRight {
    position:absolute;
    top: 45%;
    right: 15px;
    z-index: 2;
    transition: 0.3s ease-in-out;
}

#navLeft:hover {
    left: 10px;
    transition: left 0.3s ease;
}

#navRight:hover {
    right: 10px;
    transition: right 0.3s ease;
}

/* =============== NORTH ROOM ELEMENTS =============== */
#room {
    background-image: url('images/gameAssets/vn/shopbg.png');
    background-size: fill;
    background-position: center;
}

#osumi {
    top: 0;
    left: 200px;
    width: 250px;
}

#northCounter {
    top: 85px;
    transition: filter 0.3s ease-in-out;
}

#counterShadow {
    position: absolute;
    top: 354px;
    left: 44px;
    width: 562px;
    height: 50px;
    background-color: black;
    border-radius: 100%;
    filter: blur(20px);
}

#northCounter:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 3px #ffc392);
    transition: filter 0.3s ease-in-out;
}

/* =============== WEST ROOM ELEMENTS =============== */
#westCrate {
    top: 145px;
    left: 429px;
}

.zoomedimg {
    border-radius: 5px;
}


/* =============== EAST ROOM ELEMENTS =============== */

/* =============== SOUTH ROOM ELEMENTS =============== */
#southDoor {
    position: absolute;
    width: 128px;
    height: 247px;
    top: 48px;
    left: 437px;
    background-color: transparent;
    border: none;
    transition: box-shadow 0.3s ease-in-out;

}

#southDoor:hover {
    cursor: pointer;
    box-shadow: 0 0 13px #000000;
    transition: box-shadow 0.3s ease-in-out;
}

#drawerBtn {
    position: absolute;
    width: 108px;
    height: 26px;
    top: 228px;
    left: 399px;
    background-color: transparent;
}

/* =============== TITLE SCREEN =============== */

/* bg image + centering */
#title {
    background-image: url('images/coverPage/coverimage.png');
    background-size: cover;
    background-position: center;
    z-index: 9998;
    display: grid;
    position: fixed;
    inset: 0;
    place-items: center;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}


#titleimg{
        width: 700px;
}

/* center the title */
#title > div {
    display: grid;
    justify-items: center;
}

#title [for="startgame"] {
    position: relative;
    display: inline-block;
    /* spacing between button and title */
    margin-top: 32px;
    font-size: 50px;
    animation: glow 1s ease-in-out infinite alternate;
}

/* glowing animation */
@keyframes glow {
    from {
        text-shadow: 0 0 0px #ffffff69,0 0 5px #ffffff69,0 0 10px #ffffff96,0 0 20px #ffffff96,0 0 30px #ffffff96,0 0 40px #ffffff96,0 0 50px #ffffff96;
    }
    to {
        text-shadow: 0 0 5px #ffffff69,0 0 10px #ffffff69,0 0 20px #ffffff69,0 0 30px #ffffff69,0 0 40px #ffffff69,0 0 50px #ffffff69,0 0 60px #ffffff69;
    }
}

/* change cursor on hover to indicate it's clickable */
#title label:hover, #archives label:hover, #collection label:hover {
    cursor: pointer;
}

/* if start game is checked, hide title screen */
body:has(#startgame:checked) #title {
    /* opacity 0 for smooth transition and pointer events none to make it unclickable */
    opacity: 0;
    pointer-events: none;
}

/* if startgame is checked, show game */
body:has(#startgame:checked) #game {
    /* opacity 1 to show it and pointer events auto to make it clickable */
    opacity: 1;
    pointer-events: auto;
}

/* Archives & Collections buttons */
#title [for="collectionbtn"], #title [for="archivesbtn"] {
    position: relative;
    display: inline-block;
    /* spacing between buttons */
    padding: 5px;
}

#lesserbuttons {
    margin: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lesserbutton {
    height: 35px;
}

/* if archives or collection is checked, do not display game */
body:has(#archivesbtn:checked) #game, body:has(#collectionbtn:checked) #game {
    display: none;
}

/* if archives & collections is not checked, show game */
body:not(:has(#archivesbtn:checked)) #game && body:not(:has(#collectionbtn:checked)) #game {
    display: grid;
}

/* if archives is checked, show archives */
body:has(#archivesbtn:checked) #archives {
    /* opacity 1 to show it and pointer events auto to make it clickable */
    opacity: 1;
    pointer-events: auto;
}

/* if archives is checked, disable pointer events and enable overlay */
body:has(#archivesbtn:checked) #lockedOverlay {
    display : block;
}

/* if collection is checked, show collection */
body:has(#collectionbtn:checked) #collection {
    opacity: 1;
    pointer-events: auto;
}

/* when back is checked, hide archives or collection */
body:has(#back:checked) #archives, body:has(#back:checked) #collection {
  opacity: 0;
  pointer-events: none;
}

/* closes model viewer if back is checked */
body:has(#back:checked) #viewerGroup, body:has(#back:checked) .modelViewer, body:has(#back:checked) #viewerContainer, body:has(#back:checked) #exitViewerButton {
    opacity: 0;
    pointer-events: none;
}

body:has(#archivesbtn:checked) #title, body:has(#collectionbtn:checked) #title {
    opacity: 1;
}

/* =============== ARCHIVES SCREEN =============== */
#divider {
    transform: scale(1.75);
    display: block;
    margin: 20px auto 20px auto;
}

.archiveText {
    font-size: 12px;
    font-family: "Philosopher", sans-serif;
    color: #d6d2d2;
    text-align: center;
}

.archiveHeader {
    font-size: 32px;
    margin: 20px 0 0 0;
    text-align: center;
}

#archives {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: #42210583;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(12px);
    /* hidden by default */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
}

/* styles for the scrollable box */
.scrollable {
    text-align: center;
    background-color: #000000c2;
    margin: 30px 50px 30px 50px;
    padding: 30px 50px 20px 50px;
    border-radius: 20px;
    width: 640px;
    height: 400px;
    position: relative;
    border: 2px solid #9BD5ED;
    /* enable scrolling */
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.scrollable::-webkit-scrollbar {
    display: none;
}

/* text align left, but keep the entire thing centered */
.textblock {
    display: inline-block;
    text-align: left;
}

#archives img {
    width: 200px;
}

.charName {
    font-size: 25px;
    font-style: normal;
    margin: 10px 0 9px 0;
    color: #ffd890;
}

.charBio {
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: #ecdcbed0;
    padding-bottom: 40px;
    font-size: 12px;
    font-family: "Philosopher", sans-serif;

}

.lockedText {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    margin-top: 0 auto;
}

.archiveLock {
    transform: scale(0.75);
    display: block;
    margin: 0 auto;
}

/* blur overlay */
#lockedOverlay{
    margin-top: 315px;
    padding-top: 100px;
    height: 840px;
    position: absolute;
    background-color: #000000cc;
    backdrop-filter: blur(6px);
    inset: 0;
    z-index: 9900;
    pointer-events: none;
}

/* controls height it starts sticking */
.stickyContainer{
  padding-top: 200px;
}

/* controls position of sticky elements */
.lockedSticky {
    position: sticky;
    top: 400px;
    transform: translateY(-50%);
}

/* =============== COLLECTION =============== */
#collection {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-image: url('images/collectionPage/collectionbg.svg');
    background-size: cover;
    /* hidden by default */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
}

/* sizing and position of shelf element */
#collectionShelf{
    position: absolute;
    top: 300px;
    left: -400px;
    width: 850px;

}

/* style for back button */
#collectionBack {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
    transition: filter 0.3s ease-in-out;
}

/* sizing of camera */
.estellaCamera{
    width: 210px;
}

/* sizing of camera */
.osumiCamera{
    width: 180px;
}

/* positioning of camera */
.cameraPosition{
    display: flex;
    align-items: flex-end;
    gap: 100px;
    position: absolute;
    top: 230px;
    left: -230px;
}

/* position of camera and shelf as a whole */
#collectionMain {
    position: absolute;
    top: -250px;
}

.modelViewer {
    display: none; /*hidden by default*/
    pointer-events: none; /* disable interaction when hidden */
    width: 850px;
    height: 600px; 
}

#viewerGroup{
    display: none; /* hidden by default */
    pointer-events: none; /* disabled by default*/
}

#viewerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #000000c2;
    border-radius: 20px;
    width: 850px;
    height: 600px;
    display: grid;
    place-items: center;
    border: 2px solid #9BD5ED;
    overflow: hidden;
}

#exitViewerButton {
    position: absolute;
    width: 40px auto;
    top: -290px;
    left: -490px;
}

#loading {
    position: absolute;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

/* =============== VISUAL NOVEL =============== */
#vnView {
    /* hidden by default */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
}

#vnCounter {
    top: 130px;
}

#osumiVn {
    left: 146px;
    width: 358px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* text bubble positioning */
#dialogueWrap {
    position: absolute;
    top: 19%;
    left: 27px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* text bubble style */
#dialogueBubble {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1.8px solid #d4a34f;
    width: 230px;
    background: rgba(120, 70, 30, 0.35);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    text-align: center;
    color: #ffd277;
    font-family: "Philosopher", serif;
    font-size: 12px;
    line-height: 1.4;
    height: auto;
}

/* arrow for bottom */
#dialogueArrow {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #d4a34f;
    animation: bounce 1s linear infinite;
    transition: display 0.3s ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        bottom: 10px;
    }

    50% {
        bottom: 8px;
    }
}


#dayCounter {
    font-size: 100px;
    color: #ebb251;
}

/* position the whole box */
#playerDialogue {
    position: absolute;
    bottom: 0px;
    text-align: center;

    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in-out;
}

/* to center the items */
.playerDialogueWrap {
    display: grid;
    place-items: center;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.91) 47%, rgba(0, 0, 0, 0) 100%);
    width: 640px;
    height: 80px;
    padding-top: 20px;
}

.playerRow {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#playerDialogueArrow {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #ffffffe3;
    width: 0;
    position: relative;
    top: 9px;
    left: 14px;
    animation: pBounce 1s linear infinite;
}

@keyframes pBounce {
    0%, 100% {
        top: 6px;
    }

    50% {
        top: 4px;
    }
}

.playerDialoguetxt  {
    font-family: "Philosopher", serif;
    font-size: 14px;
    color: #ffffffe3;
}

#playerChoice {
    position: absolute;
    bottom: 0px;
    text-align: center;
    display: none;
}

.playerRowChoice {
    display: flex;
}

#choice1 {
    text-align: right;
    padding-right: 10px;
    position: absolute;
    right: 328px;
    bottom: 20px;
    transition: 0.3s ease-in-out;
}

#choice2 {
    text-align: left;
    padding-left: 10px;
    position: absolute;
    left: 328px;
    bottom: 20px;
    transition: 0.3s ease-in-out;
}

#choice1:hover, #choice2:hover {
    text-shadow: 0 0 10px #ffffff;
}

.choiceDivider {
    position: fixed;
    height: 70px;
    left: 315px;
    top: 11px;
}

#osumivnCamera {
    bottom: 90px;
    left: 240px;
    transition: 0.2s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

#osumivnCamera:hover {
    filter: drop-shadow(0 0 2px #000000);
    transition: 0.1s ease-in-out;
}

#vnCameraView {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#vnCameraView.active {
  opacity: 1;
  pointer-events: auto;
}


/* =============== PUZZLE GAME =============== */
/*Simon game*/
.buttonCenter{
    position: absolute;
    top:140px;
    left: 320px;
}

.lightsCenter {
    position: absolute;
    top: 30px;
    left: 320px;
}

/*style for buttons*/
.simonButtonStyle{
    position:absolute;
    width: 57px;
    height: 57px;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.4s ease, transform 0.15s ease;
}

.simonButtonStyle.hidden {
    opacity: 0;
    transform: scale(0.98);
    pointer-events: none;
}

.simonButtonStyle.correct {
  background-color: rgba(0, 255, 0, 0.253);
}

.simonButtonStyle.wrong {
  background-color: rgba(255, 0, 0, 0.5);
}

.lights {
    position: absolute;
}

/* Lights default = hidden */
#greenLight1,
#greenLight2 {
    opacity: 0 !important;   
    transition: opacity 0.3s ease;
}

/* When player wins */
#greenLight1.light-on,
#greenLight2.light-on {
    opacity: 1 !important;
}

/*positioning lights*/
#greenLight1 {
    top: 21px;
    left: -40px;
}

#greenLight2 {
    top: 21px;
    left: -0px;
}

/*positioning buttons*/
#button1{
    top: -3px;
    left: -163px;
}

#button2{
    top: -3px;
    left: -100px;
}

#button3{
    top: -3px;
    left: -34px;
}

#button4{
    top: -3px;
    left: 31px;
}

#button5{
    top: -3px;
    left: 99px;
}

#button6{
    top: 61px;
    left: -163px;
}

#button7{
    top: 61px;
    left: -100px;
}

#button8{
    top: 61px;
    left: -34px;
}

#button9{
    top: 61px;
    left: 31px;
}

#button10{
    top: 61px;
    left: 99px;
}